

section {

	margin: 0 auto;
	max-width: 1200px;
	width: 95%;

	article {
		padding: 50px;
		margin-bottom: 50px;
		border-bottom: 5px solid $oxblood;
	}

	.code {
		padding: 15px;
		margin-bottom: 10px;
		background-color: $blackboard;
		color: #fff;
		display: inline-block;
	}

}

//%box_style


.fbk {
	&:before {
		color: blue;
		font-size: 50px;
	}
}


%box_style {
	width: 300px;
	height: 250px;
	background-color: $blackboard;
	display: inline-block;

	span {
		color:$tan;
		font-size: 30px;
	}

	@media only screen and (max-width: 600px) {
		span {
			color:red;
			font-size: 300px;
		}
	}
}





.box {
	@extend %box_style;
}


.box2 {
	@extend %box_style;
	border: 3px solid $oxblood;
	height: 500px;

	@media only screen and (max-width: 600px) {
		span {
			color: purple;
			font-size: 200px;
		}
	}
}







.vm {
	/* width: 100vmin;
	height: 100vmin;
	background-color: red; */
}





h2 {
	font-size: 100px;
	color: black;
	padding: 0;
}

 .fonty {
	text-align: center;
	h2 {
		font-size: calc(100% + 5vw); 
	}
} 